.about {
    &-row {
        padding: 75px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $red-color;
    }

    &-title {
        font-family: $main-font;
        font-weight: 400;
        font-size: 48px;
        line-height: 134%;
        text-align: center;
        color: #fff;
        @include trn();

        @include media(1000) {
            & {
                font-size: 42px;
            }
        }

        @include media(900) {
            & {
                font-size: 32px;
            }
        }

        &__bold {
            font-weight: 700;
        }
    }
}

.information {
    padding: 100px 0;
    @include trn();

    @include media(1000) {
        padding: 50px;
    }

    @include media(768) {
        padding: 25px;
    }
    &-row {
        display: flex;
        align-items: center;
        column-gap: 50px;

        @include media(1000) {
            column-gap: 25px;
        }

        @include media(768) {
            flex-direction: column-reverse;
        }
    }

    &-content {
        width: 43%;
        height: 100%;

        @include media(768) {
            width: 100%;
        }
    }

    &-title {
        font-family: $main-font;
        font-weight: 500;
        font-size: 32px;
        line-height: 134%;
        color: $black-color;
        @include trn();

        @include media(1000) {
            font-size: 28px;
        }

        @include media(900) {
            font-size: 24px;
        }
    }

    img {
        margin-bottom: 15px;
    }

    &-subtitle {
        font-family: $main-font;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: $subtitle-color;

        @include media(1000) {
            & {
                font-size: 16px;
            }
        }
        
        @include media(900) {
            & {
                font-size: 14px;
            }
        }

        @include media(768) {
            font-size: 12px;
        }
    }

    &-image {
        width: 57%;
        height: 100%;
    
        img {
            width: 100%;
            height: 100%;
        }
    }
}

