.product-service {
    padding: 90px 0;

    &-row {
        display: flex;
        flex-direction: column;
    }

    &-title {
        font-family: $main-font;
        font-weight: 500;
        font-size: 32px;
        line-height: 134%;
        text-align: center;
        color: $black-color;
    }

    &__cards {
        @include flex(center, space-between);
        width: 100%;

        @include media(768) {
            flex-direction: column;
        }
    }

    &__card {
        width: 362px;
        height: 360px;
        padding: 24px;
        @include trn();
        border: 1px solid transparent;
        border-radius: 20px;    
        margin-top: 17px;

        &:hover {
            cursor: pointer;
            border-color:$red-color;
        }

        @include media(768) {
            width: 100%;
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__image {
            width: 100px;
            height: 100px;
            @include trn();

            @include media(1000) {
                width: 70px;
                height: 70px;
            }

            @include media(768) {
                & {
                    width: 100px;
                    height: 100px;
                }
            }
            img {
                width: 100%;
                height: 100%;
            }
        }

        &__title {
            font-family: $main-font;
            font-weight: 500;
            font-size: 28px;
            line-height: 134%;
            color: $red-color;
            margin: 12px 0;
            @include trn();

            @include media(1000) {
                & {
                    font-size: 22px;
                }
            }

            @include media(768) {
                text-align: center;
            }
        }

        &__subtitle {
            font-family: $main-font;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: $subtitle-color;
            margin-bottom: 15px;
            @include trn();

            @include media(1000) {
                & {
                    font-size: 15px;
                }
            }

            @include media(768) {
                text-align: center;
            }
        }

        &__button {
            border-radius: 4px;
            padding: 8px 16px;
            box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
            background: $red-color;
            font-family: $main-font;
            font-weight: 400;
            font-size: 15px;
            line-height: 145%;
            color: $white-color;
            border: 1px solid transparent;
            @include trn();

            &:hover {
                background-color: transparent;
                border-color: $red-color;
                color: $red-color
            }

            @include media(1000) {  
                padding: 5px 10px;
            }

            @include media(768) {
                padding: 2px 5px;
            }
        }
    }
}